VITE_API_BASE_URL=
VITE_DEV_HTTPS=true
VITE_HTTP_REDIRECT_PORT=5174
VITE_PROXY_TARGET=https://localhost:8014
VITE_HTTPS_CERT=../backend/certs/localhost+3.pem
VITE_HTTPS_KEY=../backend/certs/localhost+3-key.pem
